<%= form_for(@fact) do |f| %>
    <%= f.text_area :title %>
    <%= f.text_area :content, class: 'large' %>
    <%= f.text_field :categories_string %>
    <%= f.text_field :references_string %>
    <%= f.text_area :version_description %>

    <div class="actions">
      <% unless @fact.new_record? %>
          <%= link_to 'Cancel', @fact, :class => 'small radius cancel button' %>
      <% end %>
      <%= f.submit 'Save', :class => 'small radius action button' %>
    </div>
<% end %>
