<div class="row">
  <div class="large-12 columns">
    <div class="clearfix right">
      <span>Last updated <%= format_date @fact.updated_at %></span>
      &middot;
      <%= link_to 'Versions', fact_versions_path(@fact) %>
      &middot;
      <%= link_to 'Edit', edit_fact_path(@fact) %>
      &middot;
      <%= link_to 'Delete', @fact, method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
  </div>
  <div class="large-8 columns">

    <div class="panel callout">
      <h5>
        <strong>Fact:</strong> <%= @fact.summary %>
      </h5>
    </div>

    <%= markdownify(@fact.content) %>

    <h4>References</h4>

    <% @fact.references.each do |reference| %>
        <div class="panel">
          <h5>
            <%= link_to reference.title, reference %>
            <%= link_to '[open]', reference.url, { class: 'external', target: '_blank' } %>
          </h5>
          <%= reference.summary %>
        </div>
    <% end %>

  </div>
  <div class="large-4 columns">
    <div class="panel">
      <h4>Categories</h4>
      <% @fact.categories.each do |category| %>
          <%= link_to category.name, "/categories/#{category.name}" %>
      <% end %>
    </div>
  </div>
</div>