<div class="row">
  <div class="large-12 columns">

    <p>
      <strong>Summary:</strong>
      <%= @fact.summary %>
    </p>

    <p>
      <strong>References:</strong>
      <%= @fact.references %>
    </p>

    <p>
      <strong>Categories:</strong>
      <%= @fact.categories %>
    </p>

    <%= link_to 'Edit', edit_fact_path(@fact) %> |
    <%= link_to 'Back', facts_path %>
  </div>
</div>