<div class="row">
  <div class="large-12 columns">

    <p>
      <strong>Fact:</strong>
      <%= @fact.summary %>
    </p>

    <h3>References</h3>

    <% @fact.reference_records.each do |reference| %>
        <div>
          <h5>
            <%= link_to reference.title, reference %>
            <%= link_to '[open]', reference.url, { class: 'external', target: '_blank' } %>
          </h5>
          <blockquote><%= reference.summary %></blockquote>
        </div>
    <% end %>

    <p>
      <strong>Categories:</strong>
      <%= @fact.categories %>
    </p>

    <%= link_to 'Edit', edit_fact_path(@fact) %> |
    <%= link_to 'Back', facts_path %>
  </div>
</div>