<p id="notice"><%= notice %></p>

<p>
  <strong>Summary:</strong>
  <%= @fact.summary %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @fact.reference %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @fact.categories %>
</p>

<%= link_to 'Edit', edit_fact_path(@fact) %> |
<%= link_to 'Back', facts_path %>
