<div class="row">
  <div class="large-12 columns">

    <div class="panel callout">
      <strong>Fact:</strong> <%= @fact.summary %>
    </div>

    <%= markdownify(@fact.content) %>

    <h4>References</h4>

    <% @fact.references.each do |reference| %>
        <div class="panel">
          <h5>
            <%= link_to reference.title, reference %>
            <%= link_to '[open]', reference.url, { class: 'external', target: '_blank' } %>
          </h5>
          <%= reference.summary %>
        </div>
    <% end %>

    <h4>Categories</h4>
    <% @fact.categories.each do |category| %>
        <p><%= category.name %></p>
    <% end %>

    <%= link_to 'Edit', edit_fact_path(@fact) %> |
    <%= link_to 'Back', facts_path %>
  </div>
</div>