<div class="row">
  <div class="large-12 columns">
    <p>Viewing version <%= @resource.version_number %>. View the latest version <%= link_to 'here', @resource %>.</p>
  </div>
  <div class="large-8 columns">
    <% if @version.item_type == 'Fact' %>
        <%= render 'facts/show' %>
    <% end %>
    <% if @version.item_type == 'Reference' %>
        <%= render 'references/show' %>
    <% end %>
  </div>

  <div class="large-4 columns">
    <%= form_tag(restore_version_path(@version)) do %>
        <%= submit_tag 'Restore', :class => 'small button radius' %>
    <% end %>
  </div>
</div>