<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @reference.key %>
</p>

<p>
  <strong>Title:</strong>
  <%= @reference.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @reference.author %>
</p>

<p>
  <strong>Url:</strong>
  <%= @reference.url %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @reference.summary %>
</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>
