<div class="row">
  <div class="large-12 columns">
    <div class="clearfix right">
      <span>Last updated <%= format_date @reference.updated_at %></span>
      &middot;
      <%= link_to 'Versions', reference_versions_path(@reference) %>
      &middot;
      <%= link_to 'Edit', edit_reference_path(@reference) %>
      &middot;
      <%= link_to 'Delete', @fact, method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
  </div>
  <div class="large-8 columns">
    <%= render 'references/show' %>
  </div>
  <div class="large-4 columns" %>
    <div class="panel">
      <h3>Citations</h3>
      <ul class="square">
        <% @citations.each do |fact| %>
            <li>
              <strong>Fact:</strong> <%= link_to fact.title, fact %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>