<div class="row">
  <div class="large-8 columns">
    <p id="notice"><%= notice %></p>

    <h3><%= @reference.title %></h3>

    <p><%= @reference.summary %></p>

    <p>
      <strong>Key:</strong>
      <%= @reference.key %>
    </p>

    <p style="word-wrap:break-word;">
      <%= link_to @reference.url %>
    </p>
  </div>
  <div class="large-4 columns" %>
    <div class="panel">
      <h3>Citations</h3>
      <ul class="square">
        <% @citations.each do |fact| %>
            <li>
              <strong>Fact:</strong> <%= link_to fact.summary, wiki_fact_path(@wiki, fact) %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>