<div class="row">
  <div class="large-12 columns">
    <h3>Category: <%= @category.short_name %></h3>
    <ul class="breadcrumbs">
      <% @category.ancestors.concat([@category]).each do |cat| %>
          <li class="<%= cat == @category ? 'current' : '' %>">
            <%= link_to cat.short_name, :category => cat.name %>
          </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="large-8 columns">
    <% unless @category.facts.empty? %>
        <h4>Facts</h4>
        <ul class="square">
          <% @category.facts.each do |fact| %>
              <li>
                <strong>Fact:</strong> <%= link_to fact.title, fact %>
              </li>
          <% end %>
        </ul>
    <% end %>
  </div>
  <div class="large-4 columns">
    <div class="panel">
      <h4>Categories</h4>
      <%= render partial: 'categories/tree', locals: { categories: @root_categories, selected: @category } %>
    </div>
  </div>
</div>